html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #5A827E, #84AE92);
    background-repeat: no-repeat;

}
header{
    background-color: #2C3E50;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.5em;
}
.main_container {
    background-color: #5A827E;
    display: flexbox;
    flex-direction: row;
}

.todo_card{
    height: 100%;
    flex-basis: 50%;
    border: 2px solid #ffffff;
    background-color: #B9D4AA;
}

.card_weather,.card_qoute {
    height: 100%;
    flex-basis: 50%;
    border: 2px solid #ffffff;
    background-color: #F0E5D8;
}